@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --border: 1px solid #333333;
}

:root {
  --background: black;
  --foreground: white;
  --border: 1px solid #333333;
}

body {
  @apply bg-background text-foreground;
}