@font-face {
  font-family: 'Roboto Flex';
  src: url('./assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf');
}